In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings

In [3]:
train = pd.read_csv('C:\\Users\\guilh_000\Documents\\tweetsclassify\\train.csv', encoding='latin-1')
#test = pd.read_csv('C:\\Users\\guilh_000\\Documents\\tweetsclassify\\testsentiment.csv')

print(train.shape)
#print(test.shape)

(99989, 3)

In [4]:
train.head()

   ItemID  Sentiment                                      SentimentText
0       1          0                       is so sad for my APL frie...
1       2          0                     I missed the New Moon trail...
2       3          1                            omg its already 7:30 :O
3       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4       5          0           i think mi bf is cheating on me!!!   ...

In [6]:
train.isnull().any()

ItemID           False
Sentiment        False
SentimentText    False
dtype: bool

In [8]:
# checking out the positive comments from the train set

train[train['Sentiment'] == 1].head(10)

    ItemID  Sentiment                                      SentimentText
2        3          1                            omg its already 7:30 :O
6        7          1                 Juuuuuuuuuuuuuuuuussssst Chillin!!
8        9          1        handed in my uniform today . i miss you ...
9       10          1           hmmmm.... i wonder how she my number @-)
11      12          1        thanks to all the haters up in my face a...
17      18          1      Feeling strangely fine. Now I'm gonna go l...
22      23          1      You're the only one who can see this cause...
28      29          1              goodbye exams, HELLO ALCOHOL TONIGHT
38      39          1                  uploading pictures on friendster
41      42          1    (: !!!!!! - so i wrote something last week. ...

In [9]:
from textblob import TextBlob
def lemmatize_with_postag(sentence):
    sent = TextBlob(sentence)
    tag_dict = {"J":'a',"N":'n',"V":'v',"R":'r'}
    words_and_tags = [(w, tag_dict.get(pos[0],'n'))for w, pos in sent.tags]
    lemmatized_list = [wd.lemmatize(tag)for wd, tag in words_and_tags]
    return " ".join(lemmatized_list)

import string
import nltk
from nltk.corpus import stopwords
import re
def normalizer(tweet):
    punct = list(string.punctuation)
    stop_words = stopwords.words('english')
    additional_stop_words = ['RT','rt','via','...','http','twitpic','tinyurl','www']
    stopword_list = punct + stop_words + additional_stop_words
    
    tweet = re.sub("(@[A-Za-z0-9]+)|(#[A-Za-z0-9]+)", " ", tweet)
    tweet_ = re.sub("(\w+:\/\/\S+)", " ", tweet)
    tweet__ = re.sub("[^a-zA-Z]", " ", tweet_)
    lemmatized = lemmatize_with_postag(tweet__)
    tokens = nltk.word_tokenize(lemmatized)[2:]
    lower_case = [l.lower() for l in tokens]
    filtered_result = list(filter(lambda l: l not in stopword_list, lower_case))
    return filtered_result

In [ ]:
train['normalized'] = train.SentimentText.apply(normalizer)
train['normal'] = [' '.join(map(str, l)) for l in train['normalized']]

In [ ]:
train.head()